body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

h1 {
    font-size: 42px;
    width: 100%;
    text-align: center;
}

h2 {
    font-size: 32px;
    width: 100%;
    text-align: center;
}

h3 {
    font-size: 32px;
    text-align: center;
}

p {
    font-size: 24px;
    line-height: 50px;
    text-align: center;
    word-wrap: break-word;
    line-height: initial;
}

span {
    font-size: 24px;
    font-weight: normal;
    line-height: 40px;
    display: table;
    margin: 0 auto;
}

hr {
    width: 100%;
    border: 1px solid black;
}

img {
    width: 100%;
    height: 100%;
}

a {
    margin: 15px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
    color: rgb(90, 90, 90);
}

button {
    font-size: 25px;
    padding: 18px 80px;
    border-radius: 18px;
    transition: 0.2s;
}

button:hover {
    background-color: #ddd;
    cursor: pointer;
}

/* nav */

.navbar {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.95);
    width: 100%;
    height: 70px;
    z-index: 10;
    top: 0;
    border-bottom: 1px solid rgb(131, 131, 131);
}

.nav {
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: 3%;
}

.logo {
    flex: 11 auto;
    margin-left: 10%;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 35px;
}


/***** FORSIDE  *****/

/* Forsidebilde */

.hero {
    position: relative;
    text-align: center;
}

.hero-bilde {
    position: relative;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(60%);
}

.hero h1 {
    font-weight: bold;
    font-size: 60px;
    color: white;
    position: absolute;
    bottom: 9%;
    -webkit-text-stroke: 1.5px black; 
    text-transform: uppercase;
}

/* Utlånssteder */

.utlaanssteder {
    position: relative;
    text-align: center;
    width: 100%;
    height: 40vh;
    margin: 60px 0px;
}

.by1 {
    float: left;
    width: 30%;
    margin-left: 1%;
    top: 10%;
    margin-top: 3%;
}

.by2 {
    float:left;
    width: 30%;
    margin-left: 4%;
    margin-top: 3%;
}

.by3 {
    float:right;
    width: 30%;
    margin-right: 1%;
    margin-top: 3%;
}

/* Gjenbruks kontainer */

.kontainer {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: 30px 0px 70px 0px;
}

.kontainer .venstre {
    width: 45%;
    height: 50vh;
    overflow: hidden;
    float: left;
    margin: 10px 0px 20px 50px;
}

.kontainer .høgre {
    width: 45%;
    height: 50vh;
    overflow: hidden;
    float: right;
    margin: 10px 50px 20px 0px;
}

.kontainer .img {
    transition: 1s ease;
    opacity: 0.8;
}

.kontainer .img:hover {
    opacity: 1;
    transform: scale(1.05);
    transition: 1s ease;
    cursor: pointer;
}

/* Medlemskap */

.medlemskap-home {
    margin: 80px 0px;
}

.medlemskap-home button {
    display: grid;
    margin: 0 auto;
}


/* Byer */

#førde-hero .hero-bilde {
    filter: grayscale(0%);
}

.venstre iFrame {
    text-align: center;
    float: none;
}

.kontainer h2 {
    margin-bottom: 50px;
}

.maps {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.høgre p {
    line-height: 50px;
}

.senter a {
    text-transform: capitalize;
}


/* Medlemskap */

.medlemskap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 5% 3% 0 3%;
}

.medlemskap h1 {
    margin-bottom: 70px;
}

.medlemskap-div {
    padding: 20px 50px;
    width: 30%;
    height: 60vh;
    line-height: 100px;
    border: 2px solid rgb(108, 107, 107);
    background-color: rgba(239, 239, 239, 0.272);
    box-shadow: 
    0px 3px 1px -2px rgb(0 0 0 / 20%), 
    0px 2px 2px 0px rgb(0 0 0 / 14%),
    0px 1px 5px 0px rgb(130 130 130 / 62%);
}

.medlemskap-div h3 {
    font-size: 24px;
    font-weight: normal;
    line-height: initial;
}

.medlemskap button a {
    margin: 0px;
}

.medlemskap button {
    font-size: 20px;
    padding: 18px 60px;
    border-radius: 20px;
    transition: 0.2s;
    margin: 40px 0 0 48px;
}

/* Registrering */

.registrering-kontainer {
    margin: 110px 150px 0 150px;
    padding: 0 350px 0 350px;
}

input[type=text], input[type=password], input[type=email], input[type=tel] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 16px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus, [type=email]:focus, input[type=tel]:focus {
    background-color: #ddd;
    outline: none;
}

.registrering-kontainer h1, .registrering-kontainer p {
    line-height: 8px;
}

.registrering-kontainer p {
    font-size: 20px;
}

.registrering-kontainer button {
    font-size: 20px;
    padding: 10px 120px;
    border-radius: 10px;
    width: 100%;
}

.reg-btn {
    margin-left: 5px;
}

.reg-bts {
    width: 100%;
}
.reg-bts button {
    width: 32%;
    padding: 0;
}


/* Kjøretøy */

.kontainer-kjoretoy {
    height:unset;
    margin: 0;
    padding-top: 70px;
    height: 100vh;
}

.kontainer-kjoretoy .kjoretoy-spek {
    margin: 0;
    width: 50%;
    height: 100%;
    border-right: double;
    margin: auto;
}

.venstre-box {
    margin: 0 auto;
    text-align: left;
    line-height: 20px;
    padding-top: 30px;
}

.overskrift th {
    padding: 0px 0 20px 0;
    text-align: center;
}

.kontainer-kjoretoy .overskrift {
    text-decoration: none;
    font-size: 32px;
}

.kontainer table img {
    height: 300px;
    width: 520px;
    margin-bottom: 20px;
}

.kontainer-kjoretoy .høgre {
    margin: 0;
    width: 50%;
    height: 100%;
}

.produkt-info {
    padding: 42px 80px 0 80px;
    overflow: scroll;
}

.produkt-info p {
    font-size: 16px;
    line-height: 32px;
    text-align: left;
}

